html { 
    background: url(../images/wood.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

body {
   background-color: rgb(0,0,0,0);
   color: aquamarine;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    padding: 20px;
}

.jumbotron {
    background: url(../images/jumbotron.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}


p, h3  {
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.choice {
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#food-type{
    padding-bottom: 5px;
}

#keyword {
    color:  rgb(70,70,70); 
    font-family: 'Pacifico', cursive;
}

#keyword-ex {
    font-size: 20px;
}

#map {
    height: 50vh;
    width: 80vh;
    border: 2px solid rgb(207, 207, 207);
    color: black;
    margin: 0 auto 40px;
}

#choice {
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', cursive;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    margin: 20px;
}

#scroll {
    font-size: 16px;
    color: rgb(238, 238, 238);
}

#choose-store {
    font-size: 20px;
}

#select-store {
    margin-bottom: 10px;
}

#select-store:hover, .search:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(70, 70, 70);
    border-color: rgb(238, 238, 238);
}

.btn-primary {
    background-color: aquamarine;
    border-color: aquamarine;
    color: rgb(70, 70, 70);
    font-family: 'Pacifico', cursive;
    margin-bottom: 40px;
}

#more:hover, #less:hover {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
    color: rgb(70, 70, 70);
}

#select-decision-one:hover, #select-decision-two:hover, #select-decision-three:hover {
    color: rgb(70, 70, 70);
}

.buttons {
    text-align: center;
}

.search {
    background-color: aquamarine;
    color: rgb(70, 70, 70);
    font-family: 'Pacifico', cursive;
}

table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

h5 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: aquamarine;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

h6{
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', cursive;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.source, .yield, #headings {
    text-align: center;
}

table {
    background-color: rgba(211, 211, 211, 0.815);
    color: rgb(31, 37, 35);
    font-family: 'Laila', serif;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 2px, solid, rgb(237, 166, 255); 
}

th {
    font-weight: 700;
    font-size: 20px;
}

#return-info {
    font-family: 'Laila', serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.col-xs-12, .col-sm-12 {
    width: 100%;
}

@media only screen and (max-width: 692px) {
    #map {
        height: 45vh;
        width: 45vh;
        margin-top: 25px;
    }
}