html { 
    background: url(../images/wood.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

body {
   background-color: rgb(0,0,0,0);
   color: aquamarine;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    padding: 20px;
}

.jumbotron {
    background: url(../images/jumbotron.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}


h3  {
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.choice {
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#name-text, .hours, #phoneNumber-text, #location-text, #price-text, #rating-text {
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
}

#name-text {
    font-size: 26px;
}

.hours {
    font-size: 20px;
}

#food-type{
    padding-bottom: 5px;
}

.hours {
    margin-left: 40px;
}

#keyword {
    color:  rgb(70,70,70); 
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

#map {
    height: 50vh;
    width: 100vh;
    border: 2px solid rgb(207, 207, 207);
    color: black;
    margin: 0 auto 40px;
}

#choice {
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    margin: 20px;
}

.btn-primary  {
    background-color: aquamarine;
    border-color: aquamarine;
    color: rgb(70, 70, 70);
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

#select-food-type:hover {
    background-color: rgb(207, 207, 207);
    border-color: rgb(207, 207, 207);
    color: rgb(70, 70, 70);
}

#select-decision-one:hover, #select-decision-two:hover, #select-decision-three:hover {
    color: rgb(70, 70, 70);
}

.food-type {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(237, 166, 255);
}

.buttons {
    text-align: center;
}

.search {
    background-color: aquamarine;
    color: rgb(70, 70, 70);
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

h5 {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: aquamarine;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

h6{
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', Arial, Helvetica, sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.source, .yield, #headings {
    text-align: center;
}

table {
    background-color: rgba(211, 211, 211, 0.815);
    color: rgb(31, 37, 35);
    font-family: 'Laila', serif;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 2px, solid, rgb(237, 166, 255); 
}

th {
    font-weight: 700;
    font-size: 20px;
}

#return-info {
    font-family: 'Laila', serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}