html { 
    background: url(../images/map.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }

body {
      color: aquamarine;
      background-color:rgba(0, 0, 0, 0.6);
      height: 100vh;
      font-family: 'Coiny', cursive;
      padding: 20px 10px;
}

.jumbotron {
    background: url(../images/jumbotron.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: .65; */
   
}


p {
    color: rgb(237, 166, 255);
    font-size: 30px;
    font-family: 'Coiny', cursive;
}

#map {
    height: 50vh;
    width: 100vh;
}

label {
    margin: 20px 20px;
}

.btn-primary {
background-color: aquamarine;
color: rgb(70, 70, 70);
font-family: 'Pacifico', cursive;
margin-bottom: 20px;
}

#select-decision, #select-food-type {
background-color: aquamarine;
color: rgb(70, 70, 70);
font-family: 'Pacifico', cursive;
}

h5 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: aquamarine;
}